.speech-edit-box {
    clear:both;
    background: transparent;
    border: none;
    cursor:pointer;
    display:block;
    font-size: 18px;
    height: 18px;
    margin-left:7px;
    margin-top:-25px;
    outline: none;
    width: 18px;
}
